<!DOCTYPE html>
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Styles --}}
    <link rel="stylesheet" href="{{css "styles"}}" />
    {{{block "page_css"}}}

    {{!-- Base Meta --}}
    <title>{{page_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{page_description}}" />
    <link rel="canonical" href="https://mywebsite.com/{{page_url}}/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />

    {{!-- Facebook Open Graph --}}
    <meta property="og:site_name" content="My Website" />
    <meta property="og:type" content="{{#if isIndex}}website{{else}}article{{/if}}" />
    <meta property="og:title" content="{{page_title}}" />
    <meta property="og:description" content="{{page_description}}" />
    <meta property="og:url" content="https://mywebsite.com/{{page_url}}/" />
    <meta property="og:image" content="https://mywebsite.com/images/{{rc_image}}" />
    <meta property="og:image:secure_url" content="https://mywebsite.com/images/{{rc_image}}" />
    <meta property="og:image:alt" content="{{rc_image_alt}}" />
    <meta property="og:image:type" content="image/svg+xml" />

    {{!-- Twitter Card --}}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{page_title}}" />
    <meta name="twitter:description" content="{{page_description}}" />
    <meta name="twitter:url" content="https://mywebsite.com/{{page_url}}/" />
    <meta name="twitter:image" content="https://mywebsite.com/images/{{rc_image}}" />
    <meta name="twitter:image:alt" content="{{rc_image_alt}}" />

    {{!-- Favicon --}}
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    {{!-- Structure Data --}}
  </head>
  <body>
    {{{block "body"}}}

    {{{block "page_js"}}}
  </body>
</html>
